body {
    background:#fffee9;
    font-family:monospace;
}


h1 {
    text-align: center;
    font-size:50px;
    font-weight: bold;
    margin:15px auto;
    color:#ffdc6e;
    letter-spacing: 5px;

}

h2 {
    margin:0;
    font-size:35px;
}


select {
    display:block;
    width:60%;
    margin:24px auto;
    margin-bottom: 20px;
    background-color:#ffdc6e;
    border:none;
    border-radius:4px;
    padding:15px;
    font-size:18px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}

img {
    width:30%;
    position:relative;
    left:215px;
    bottom:15px;
}

.container {
   max-width:600px; 
   margin:45px auto;
   background:#f9feff;
   border:double;
   border-color:#ffd75c;
   border-width:25px;
   padding:40px;
   padding-bottom:10px;
   box-shadow:rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}

.city {
    display:flex;
    justify-content: space-between;
    margin:20px 0;
    border-bottom: 1px dashed rgba(0,0,0,0.2);
    padding:30px;
}

.city:last-child {
    border:none;
}

.date {
    color:rgba(0,0,0,0.6); 
    font-size:15px;
    
}

.time {
    font-size:48px;
    font-weight: bold;
    vertical-align: middle;  
}

.time small {
    font-size: 24px;
}

.back-link {
    margin-left:260px;
    font-weight: bold;
}

footer {
    text-align:center;
    font-size: 14px;
    padding-bottom:30px;
    color: rgba(0, 0, 0, 0.6);
}